.machine_snippet
{
background: black;
}
.snippet_heading
{
color: white;
  font-weight: bold;
  font-style: normal;
  left: 37%;
  position: inherit;
}
#snippet_card
{
padding-top: 22px;
  border-radius: 26px;
  padding-bottom: 20px;
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}
.card-head{
position: relative;
  left: 70px;
  margin-top: 10px;
  font-style: initial;
  font-weight: bold;

}
.snippet_purchase_value{
position: relative;
  left: 100px;
  }

#previous_snippet_button{
left: -34px;
}
#next_snippet_button{
right: -38px;
}
.carousel-control-prev {
  left: -22px;
}
.carousel-control-next {
  right: -22px;
}
.card_money{
position: inherit;
  left: 29%;
}
