
.machine_properties {
  position: relative;
  left: 304px;
  top: -41px;
  font-size: 29px;
  font-weight: inherit;
  color: white;
}
  .machine_labels{
  position: relative;
  left: 200px;
  font-size: 29px;
  font-weight: inherit;
  color: white;
  }

  .details_image_left{
   padding: 0px;
   margin: 0px;
   width:305px;
   height: 200px;
  left: 50%;
  object-fit: contain;
  position: absolute;}

  .details_page{
    background-image: url("https://img.freepik.com/premium-photo/black-background-with-black-background-black-background-with-gears-black-background_950347-11459.jpg?w=900");
    background-repeat: no-repeat;
  background-size: cover;
    }